@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
  --graphear-yellow: #FFC300; 
}

body{
  font-family: "Pretendard", "Noto Sans KR", "Malgun Gothic", sans-serif;
  background-color:#000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 95vw;
  min-height: 95vh;
  text-align: center;
}
