.logo-page-container {
  color:#FFC300;
}

.logo-page-container img {
  width:350px;
  height:auto;
}

.logo-page-container:hover {
  color:#fff0be
}

.logo-image{
  margin:0px;
}

.logo-text{
  margin:10px;
  margin-top:0px;
}

.logo-text h1{
  font-size:80px;
  margin-top:0px;
}

.logo-text h3{
  font-size:60px;
  margin-top:0px;
}