.player-container {
    min-width: 95%;
    margin: 0;
    width: 100%; 
    display: block;
    overflow: hidden;
}

.audio-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    border-bottom: 1px solid var(--graphear-yellow);
    margin-bottom: 20px;
    justify-content: space-between; 
}

.header-title {
    font-size: 30px;
    justify-content: center;
    font-weight: bold;
    color: var(--graphear-yellow);
    flex-grow: 1; 
    text-align: center;
}

#progress-container {
    position: relative;
    background-color: #222222; 
    height: 120px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 12px;
}

#progress-fill {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    background-color: #a9a9a9; 
    border-radius: 12px;
}

#problem-title {
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 40px;
    font-weight: bold;
    color:var(--graphear-yellow); 
    z-index: 10;
}
.audio-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    background-color:black;
    border-bottom: 1px solid #1f2937;
    margin-left: 20px;
    margin-right: 20px;
}

.back-icon{
    height: 40px;
    width: 50px;
    cursor: pointer;
}

.icon-lg, .icon-md {
    height: 70px;
    width: 70px;
    cursor: pointer;
}
.back-button{
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
}

.time-display{
    font-size: 25px;
    margin:0px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: var(--graphear-yellow);
    display: flex;
    justify-content: space-between;
}

.time-control-btn {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.15s, color 0.15s;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #9ca3af;
}
.control-btn {
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.15s;
}
.control-btn:hover {
    opacity: 0.8;
}
.speed-button {
    font-size: 30px;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    border: 1px solid #4b5563;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
    background-color: transparent;
    color: #ffffff;
    width:200px;
    height:80px;
}
.speed-button:hover {
    background-color: #1f2937;
}
.action-area {
    margin-left: 10px;
    margin-right: 10px;
    padding:0;
    background-color: #000000;
}
.action-row {
    margin-top:20px;
    margin-bottom: 20px;
    gap: 1rem;
}
.reset-play-btn{
    margin-bottom: 10px;
}

.bottom-btn {
    width: 100%;
    padding: 1rem 0;
    font-size: 40px;

    margin-bottom: 0px;
    height:130px;
    background-color: #FFC000;
    color: #111827;
    transition: opacity 0.15s ease-in-out;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}